@model List<Card>

<h1>All Cards</h1>

<a asp-action="AddCard" asp-controller="Card"> Add Card</a>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Mana Cost</th>
            <th>Rarity</th>
            <th>Power</th>
            <th>Toughness</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in Model)
        {
            <tr>
                <td>@card.CardName</td>
                <td>
                    @foreach (var color in ViewBag.CardColors)
                    {
                        if (card.CardId == color.CardId)
                        {
                            if (color.ColorId == 1){ <span>Red</span>}
                            else if (color.ColorId == 2){ <span>Blue</span>}
                            else if (color.ColorId == 3){ <span>Green</span>}
                            else if (color.ColorId == 4){ <span>White</span>}
                            else if (color.ColorId == 5){ <span>Black</span>}
                            else if (color.ColorId == 6){ <span>Colorless</span>}
                        }
                    }
                </td>   
                <td>@card.ManaCost</td>
                <td>@card.Rarity</td>
                <td>@card.Power</td>
                <td>@card.Toughness</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Card" asp-action="Edit"
                       asp-route-id="@card.CardId"
                       >Edit</a>
                    <a class="btn btn-primary" asp-controller="Card" asp-action="Delete"
                        asp-route-id="@card.CardId"
                      >Delete</a>
                </td>
            </tr>
        }<!--End Foreach Loop-->
    </tbody>
</table>